<!-- Inherit parent template -->
{% extends "core/base.html" %}

<!-- load static -->
{% load static %}

<!-- block tag title -->
{% block title %}Change Password{% endblock title %}


<!-- block tag content -->
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2 mt-2">
            <form action="" method="POST" novalidate class="shadow p-5">
                {% csrf_token %}

                <h3 class="mt-2">Change Password</h3><hr>

                <!-- Login Form Field, label, messages -->
                {% if form %}
                {% for fm in form %}
                <div class="form-group fw-bold">
                    {{fm.label_tag}} {{fm}}  <small class="text-warning">{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                {% endif %}

                <input type="submit" class="btn btn-primary mt-2" value="change">

                <div class="text-center">
                    <a href="{% url 'dashboard-page' %}">Back</a>
                </div>

                <!-- non field errors -->
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <p class="text-danger">{{error}}</p>
                  {% endfor %}
                {% endif %}
            </form>


        </div>
    </div>
  </div>
{% endblock content %}